<%= render 'public/header' %>
<h1>Top</h1>
<p>ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトとなります。
<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>

<%= link_to "ログアウト", destroy_member_session_path, method: :delete %>